.venv/
.venv
gendiff/scripts/__pycache__
gendiff/__pycache__
gendiff/formatters/__pycache__
tests/__pycache__/
/dist/
dist/*
dist/hexlet_code-0.1.0-py3-none-any.whl
.idea/
.coverage
coverage.xml